body {
	background-color: #ddd;
}

#container {
	height: 50%;
	text-align: center;
}

h1 {
	font-family: helvetica;
	font-size: 2rem;
}

button {
	padding: 1rem 2rem;
	background-color: transparent;
	border-color: green;
	border-radius: 2rem;
	font-size: 1rem;
	font-weight: bold;
	color: green;
	cursor: pointer;
	transition: 0.5s;
}
button:hover {
	background-color: green;
	color: #fff;
}
button:focus {
	outline: none;
	box-shadow: none;
}

