body {
	margin: 0;
	padding: 0;
	background: url(bg.jpg) no-repeat center center fixed;
	background-size: cover;
}

#container {
	height: 50%;
	text-align: center;
	color: #fff;
}

h1 {
	font-family: helvetica;
	font-size: 2rem;
}

#quote-display {
	font-size: 1.5rem;
}

button {
	margin-top: 2rem;
	padding: 1rem 2rem;
	background-color: transparent;
	border-color: green;
	border-radius: 2rem;
	font-size: 1rem;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
	transition: 0.5s;
}
button:hover {
	background-color: darkgreen;
	color: #d9d9d9;
}
button:focus {
	outline: none;
	box-shadow: none;
}
